/* Styles for smartphones */
@media (max-width: 600px) {
  .grid-manage-books {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(
      4,
      1fr
    ); /* Adjust the number of rows as needed */
    gap: 1rem; /* Adjust the gap as needed */

    height: 250px;

    position: absolute;
    left: 30px;
    margin-top: 80px;
    padding: 0 !important;

    & > div {
      grid-column: span 1;
      grid-row: auto; /* Allow rows to auto-size */
    }
  }

  .table-div {
    width: 520px;
  }
}

/* Styles for tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  .grid-manage-books {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(
      4,
      1fr
    ); /* Adjust the number of rows as needed */
    gap: 1rem; /* Adjust the gap as needed */

    height: 250px;
    width: 250px;

    position: absolute;
    left: 30px;
    margin-top: 80px;
    padding: 0 !important;

    & > div {
      grid-column: span 1;
      grid-row: auto; /* Allow rows to auto-size */
    }
  }

  .table-div {
    width: 910px;
  }
  footer{
    bottom: -100px;
  }

}
