

form{
    color: white;
    div{
        line-height: 3em;
        font-size: 1em;
    
        input{

            border-radius: 5px;
            width: 100%;
            outline: none !important;
            padding: 0.1em 0.8em;
        }

        
    }
    ul{
        font-size: 0.8rem;
    }
}